version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: postgresS
    environment:
      POSTGRES_USER: datalake_user
      POSTGRES_PASSWORD: datalake_password
      POSTGRES_DB: datalake_db
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    container_name: minioS
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"